@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.inter-font{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

*{
    background-color: rgba(26, 11, 46, 1);
}

/* all nav related styles */
.nav-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    margin: 0 auto;
}

.logo{
    height: 35px;
}

.nav-links a{
    text-decoration: none;
    font-size: 1rem;
    font-weight: 500;
    color: #FFFFFF;
    padding: 25px;
    transition: 0.3s ease;
}

.btn-sub-button{
    background: linear-gradient(45deg, #F7E93F, #FB09B4, #9100F8);
    color: #FFFFFF;
    border: none;
    padding: 12px 24px;
    border-radius: 30px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 1rem;
    font-weight: 600;
    transition: 0.3s ease;
}

.btn-sub-button:hover{
    transform: scale(1.05);
}

/* foooter related all styles */
.footer-container {
    background-image: url(./assets/footer-bg.png);
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 60px 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.footer-logo img{
    height: 45px;
}

.footer-links{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    font-size: 1rem;
    font-weight: 500;
    color: #FFFFFF;
}
.footer-links p{
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 1rem;
    font-weight: 500;
    color: #FFFFFF;
    cursor: pointer;
    transition: 0.3s ease;
    margin: 0;
}

.footer-links img {
    cursor: pointer;
    transition: 0.3s ease;
}

.footer-links img:hover{
    transform: scale(1.1);
}

.copyright-text{
    font-size: 0.875rem;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.6);
    margin-top: 10px;
}

/* why choose related all styles */
.choose-section{
    text-align: center;
    padding: 60px 40px;
    width: 100%;
}

.choose-section h2{
    font-size: 3rem;
    font-weight: bold;
    color: #FFFFFF;
    margin-bottom: 50px;
}

.features-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.feature-card:nth-child(1) {
    grid-row: 1 / 3;
    padding: 40px 20px;
}

.feature-card{
    background-color: rgba(255, 255, 255, 0.05);
    border: 2px solid rgba(0, 229, 255, 0.3);
    border-radius: 15px;
    padding: 35px;
    text-align: left;
}

.feature-card img{
    width: 60px;
    height: 60px;
    margin-bottom: 15px;
}

.feature-card h3{
    color: #FFFFFF;
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 10px;
}

.feature-card p{
    color: #978a8a;
    font-size: 0.957rem;
    font-weight: 400;
}